.homeContent {
  border: 1px solid black;
  width: 90%;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
}

#homeContainer {
  height: 79vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homeText {
  word-spacing: 0.3rem;
  font-size: 1.3rem;
}
