#homeContent {
  border: 1px solid black;
  width: 90%;
  border-radius: 10px;
  padding: 1rem;
}

#homeContainer {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homeText {
  word-spacing: 0.3rem;
  font-size: 1.3rem;
}