#main {
  border: 1px solid gray;
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}

.calcBorderBottom {
  border-bottom: 1px solid gray;
}

.height {
  min-height: 16.7%;
}

.button {
  width: 25%;
  height: 100%;
  font-size: 1.8rem;
}

.button1 {
  width: 50%;
  height: 100%;
  font-size: 1.8rem;
}

.symbols {
  background-color: #ff922b;
  border: 1px solid gray;
}

.symbols:hover {
  background-color: #ffa435;
}

#answer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #a7a6ba;
  color: white;
  font-size: 2rem;
}

#spaceright {
  margin-right: 1rem;
}
