#main {
  border: 1px solid #000;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}

.calcBorderBottom {
  border-bottom: 1px solid #000;
  
}

.height {
  min-height: 16.7%;
}

.button {
  width: 25%;
  height: 100%;
  font-size: 1.8rem;
}

.button1 {
  width: 50%;
  height: 100%;
  font-size: 1.8rem;
}
